@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
    <h1>Kontakt kantineansvarlig</h1>
    <table>
        <tr>
            <td>Karen Jensen</td>
        </tr>
        <tr>
            <td>karen.jensen@ibas.dk</td>
        </tr>
        <tr>
             <td>11223344</td>
        </tr>
    </table>
}
