@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kantinens Menu for uge 45</h1>
    <h3>Næste uge</h3>
    <table>
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
        <tr>
            <td>Man</td>
            <td>Tortillas</td>
            <td>Græsk Salat</td>
        </tr>
        <tr>
            <td>Tirs</td>
            <td>Græskar Suppe</td>
            <td>Pastasalat</td>
        </tr>
        <tr>
            <td>Ons</td>
            <td>Svensk pølseret</td>
            <td>Rugbrød med Tunsalat</td>
        </tr>
        <tr>
            <td>Tors</td>
            <td>Fishsticks</td>
            <td>Kartoffelsalat</td>
        </tr>
        <tr>
            <td>Fre</td>
            <td>Boller i karry</td>
            <td>Sushi</td>
        </tr>
    </table>
</div>
