@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Kantinens Menu for uge 45</h1>
    <h3>Næste uge</h3>
    <table>
        <thead>
                <tr>
                    <th>Ugedag</th>
                    <th>Hotmeal</th>
                    <th>Coldmeal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TableData)
                {
                    <tr>
                        <td>@item.Ugedag</td>
                        <td>@item.Hotmeal</td>
                        <td>@item.Coldmeal</td>
                    </tr>
                }
            </tbody>
    </table>
</div>


